<div class="contents">
  <div class="header">
    <h2>
      책등록
    </h2>
  </div>
  <div class="body">
    <div class="form">
      <div class="form_body">
        <div class="form_tr">
          <div class="form_th">
            <span class="txt">책코드(ISBN)</span>
          </div>
          <div class="form_td">
            <div class="wrap_v">
						  <span class="form_ipt">
							  <input class=" w_l" type="text" value="" [(ngModel)]="book.code"/>
						  </span>
            </div>
          </div>
        </div>
        <div class="form_tr">
          <div class="form_th">
            <span class="txt">책제목</span>
          </div>
          <div class="form_td">
            <div class="wrap_v">
						  <span class="form_ipt">
							  <input class=" w_l" type="text" value=""/>
						  </span>
            </div>
          </div>
        </div>
        <div class="form_tr">
          <div class="form_th">
            <span class="txt">부제</span>
          </div>
          <div class="form_td">
            <div class="wrap_v">
						  <span class="form_ipt">
							  <input class=" w_l" type="text" value=""/>
						  </span>
            </div>
          </div>
        </div>
        <div class="form_tr">
          <div class="form_th">
            <span class="txt">저자</span>
          </div>
          <div class="form_td">
            <div class="wrap_v">
						  <span class="form_ipt">
							  <input class=" w_l" type="text" value=""/>
						  </span>
            </div>
          </div>
        </div>
        <div class="form_tr">
          <div class="form_th">
            <span class="txt">정가</span>
          </div>
          <div class="form_td">
            <div class="wrap_v">
						  <span class="form_ipt">
							  <input class=" w_l" type="text" value=""/>
						  </span>
            </div>
          </div>
        </div>
        <div class="form_tr">
          <div class="form_th">
            <span class="txt">출판사</span>
          </div>
          <div class="form_td">
            <div class="wrap_v">
						  <span class="form_ipt">
							  <input class=" w_l" type="text" value=""/>
						  </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <button class="btn minor l" >취소</button>
      <button class="btn major l" >저장</button>
    </div>
  </div>
</div>
